body {
  margin: 0;
  padding: 0;
  background-color: rgb(131, 113, 94);
}

.App h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 18px;
  background-color: rgb(107, 88, 68);
  width: 100%vp;
  font-size: 35px;
  letter-spacing: 25.5px;
  margin-bottom: 10px;
}
